<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" href="assets/style/style.css">
    <title>Find Text Application</title>
</head>

<body>
    <div id="app">

        <header>
            <nav>
                <h1><a href="index.html">FindText</a></h1>
                <ul class="menu">
                    <li>
                        <a class="menu-link" href="about.html">About</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="container">
            <section class="hero-search">
                <h2 class="title">What text are you looking for?</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="link-video">Link video youtube</label>
                                        <input type="text" class="form-input" id="link-video" aria-describedby="linkHelp"
                                            placeholder="Paste the youtube video link here" v-model="url">
                                        <!-- <small id="linkHelp" class="form-text text-muted">Paste your link video!</small> -->
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="text">Text</label>
                                        <input type="text" class="form-input" id="text" aria-describedby="textHelp"
                                            placeholder="Find for your text" v-model="keyWord">
                                        <!-- <small id="textHelp" class="form-text text-muted">Find the text you want in the video</small> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <article class="list-of-results">
                <header>
                    <h3 class="result">Result of text</h3>
                    <h4 class="result-total">Total results : </h4>
                </header>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        github login under the sign-in button that we have we'll add in a new link.
                                    </p>
                                </div>
                                <div class="col-full">
                                    <a class="btn-view" href="#" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <article>
                <header>
                    <h4 class="result-total">Page : </h4>
                </header>
                <section class="pagination">
                    <div class="card">
                        <div class="card-body">
                            <button class="btn-first"><i class="fas fa-chevron-left"></i></button>
                            <button class="btn">Prev</button>
                            <button class="btn">Next</button>
                            <button class="btn-last"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </section>
            </article>
        </main>

        <footer>
            <div class="container">
                <div class="row">
                    <img class="logo" src="assets/images/logo.png" alt="">
                </div>
                <div class="row">
                    <p class="greeting">Hi, I'm Sahrial based in Medan, Indonesia. <br>
                        I have a passion for web design and love to create <br>
                        for web and mobile devices.</p>
                    <p>Created with <i class="far fa-heart"></i> from Medan.</p>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/libraries/index.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                url: 'https://www.youtube.com/watch?v=G5Nk4VykcUw',
                keyWord: '',
                listResult: [],
                pagination: {
                    first: null,
                    last: null,
                    prev: null,
                    next: null,
                    total: 0,
                    page: null
                }
            }
        })
    </script>

</body>

</html>